package views

import (
	"github.com/tikhonp/alcs/internal/db/models/auth"
	genericviews "github.com/tikhonp/alcs/internal/generic_views"
)

templ MainPage(isAuthed bool, user *auth.User) {
	@genericviews.Base("СКУД ПОСТОВОЙ") {
		@genericviews.Navbar(user)
		@genericviews.Section() {
			<h1 class="title">
			Купил мужик шляпу, а она ему как раз.
			</h1>
		}
	}
}
