package views

import genericviews "github.com/tikhonp/alcs/internal/generic_views"

templ LoginPage(nextPath string) {
	@genericviews.Base("СКУД - ВХОД") {
		<section class="section">
			<div class="container">
				<h1 class="title">
					Login as
				</h1>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<a class="button is-link is-light" href="/auth/google?next={ nextPath }">Войти с Google</a>
			</div>
		</section>
	}
}
